@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  position: relative;
}

body,
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  padding-left: 8%;
  padding-right: 8%;

  overflow: hidden;

  background-color: #eee;

  justify-content: center;
  align-items: center;
}

.card-container {
  margin: 2rem;
  min-width: 50rem;
  padding: 4.2rem;
  background-color: white;

  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;

  border-radius: 1.2rem;
  border: 3px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.bottom,
.top {
  min-width: 100%;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1 {
  text-align: center;
}

.input-area,
.input-container {
  display: flex;
  font-size: 2rem;
}

.input-area {
  flex-direction: column;
  outline: 3px solid black;
  padding: 1.4rem 1rem;
  border-radius: 0.5rem;
}

.input-container label {
    margin-right: 1rem;
    font-weight: 500
}

.input-container input {
   flex: 1;
   font-size: 1.8rem;
}

button {
  border: 0;
  padding: 1rem 1.4rem;
  outline: none;

  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 600;


  outline: 3px solid black;
}

.top button {
  background: rgb(166, 255, 228);
}

.top button:hover {
  background: rgb(105, 255, 210);
  color: black;
}

li button {
  background: rgb(255, 131, 131);
}

li button:hover {
  background: rgb(255, 109, 109);
  color: black;
}




ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;


  padding: 1rem;
  border-radius: 0.5rem;

  margin-top: 2rem;

  font-weight: 500;

  font-size: 1.8rem;

  border: 3px solid black;
}